<!-- Email Subscription Form -->
<div class="email-subscription">
  <h3 class="main_para">Shoot me a text! 😀</h3>
  
  <form action="https://formspree.io/f/xwpvbakk" method="POST" class="email-form">
    <label>
    <span>Your email:</span> 
      <input type="email" name="email" required>
    </label>
    <label>
      <span>Your message:</span>
      <textarea name="message" placeholder="Optional message" rows="4"></textarea>
    </label>
    <button type="submit">Send</button>
  </form>
</div>
