{%if settings.dgHomeLink === true%}
    <nav class="navbar">
        <div class="navbar-inner">
            {% set logoSrc = meta.siteLogoPath %}
            {% if not logoSrc %}
                {% set logoSrc = "/img/logo.svg" %}
            {% endif %}
            <a href="/" class="site-brand" aria-label="Home">
                <img class="site-logo" src="{{logoSrc}}" alt="{{meta.siteName}}" width="26" height="26" loading="eager" decoding="async" />
                <h1 class="site-title">{{meta.siteName}}</h1>
            </a>
        </div>
        {% if settings.dgEnableSearch === true%}
            {% include "components/searchButton.njk" %}
        {%endif%}
    </nav>
    {%else%}
    <div class="empty-navbar" >
        {% if settings.dgEnableSearch === true%}
            {% include "components/searchButton.njk" %}
        {%endif%}
    </div>
{%endif%}
